.Calc-body{
  margin: 0 auto;
  margin-top: 40px;
  width: 400px;
  text-align: center;
  padding: 40px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: lightgray;
}

.keypad {
  margin-top: 10px;
  display: grid;
  grid-auto-rows: (50px auto);
  grid-template-columns: repeat(5, 1fr);

}

input[type="text"]
{
  height: 50px;
  background-color: skyblue;
  width: 330px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 40px;
}

#clear {
  color: red;
}

#back{
 background-color: orangered;
 color: white;
}

button {
  border:  1px solid black;
  border-radius: 30px;
  padding: 15px;
}

#result{
  background-color: green;
  color: white;
}