.Calc-body{
  margin: 0 auto;
  margin-top: 40px;
  width: 400px;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: rgb(63, 54, 54);
}

.input {
  border: 2px solid black;
  border-radius: 10px;
}

.keypad {
  margin-top: 10px;
  display: grid;
  grid-auto-rows: (50px auto);
  grid-template-columns: repeat(4, 2fr);
  padding: 10px;
  border: 2px solid black;
  border-radius: 50px;
  
}

input[type="text"]
{
  margin: 10px;
  padding: 10px;
  color: silver;
  height: 50px;
  background-color:black;
  width: 350px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 40px;
}

#clear {
  color: white;
  background-color: rgb(220, 121, 121);
}

#back{
 background-color: orangered;
 color: white;
}

button {
  border:  1px solid black;
  border-radius: 30px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;;
}

#result{
  background-color: green;
  color: white;
}